/* Reset CSS, um Standardstile zu entfernen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stil für den Hintergrundvideo-Container */
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Hintergrundelement hinter dem Inhalt positionieren */
}

/* Video-Element an die Bildschirmgröße anpassen */
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Stil für den Inhalt */
.content {
    position: relative;
    z-index: 1; /* Inhaltselement vor dem Hintergrund positionieren */
    padding: 20px;
    text-align: center;
    color: #fff; /* Textfarbe anpassen */
}

/* Stil für den Inhaltstext */
h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
}

/* Stil für den Gradientenhintergrund */
.gradient-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, purple, red);
}
